<div *ngIf="selectedSolution===undefined" class="page-title-default" [ngStyle]="{'background-image': 'url(' + selectedIndustry?.image + ')'}">
    <div class="container">
        <h1 class="entry-title title">{{selectedIndustry?.title}}</h1>
    </div>
</div>
<div *ngIf="selectedSolution!==undefined" class="page-title-default" [ngStyle]="{'background-image': 'url(' + selectedSolution?.picture + ')'}">
    <div class="container">
        <h1 class="entry-title title">{{selectedSolution?.title}}</h1>
    </div>
</div>
<div class="container">
    <div class="diV-Mainproduct">
        <div class="row">
            <div class="col-lg-4">
                <nav class="leftslidebaR" aria-label="Browse industries">
                    <h2 class="industry-rail-title">Industries</h2>
                    <ul class="industry-rail">
                        <li class="industry-rail__item" *ngFor="let industry of industries">
                            <button type="button"
                                    class="industry-rail__btn"
                                    (click)="navigateToIndustry(industry.id)"
                                    [class.is-active]="industry.title === selectedIndustry?.title"
                                    [attr.aria-current]="industry.title === selectedIndustry?.title ? 'true' : null">
                                <span class="industry-rail__label">{{industry?.title}}</span>
                                <span class="industry-rail__chevron" aria-hidden="true">›</span>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-8">
                <div class="RightslidebaR">
                    <div class="content-Div">
                        <h3 class="h3div">{{selectedIndustry?.title}}</h3>
                        <!-- <div class="div-bold">We Take Pride in Helping Facility Managers Achieve Hygiene Goals
                        </div>-->
                        <p class="p-div">{{selectedIndustry?.description}}</p>


                        <div class="new-release-tabsection">
                            <div class="scrool-delevry">
                                <ul class="row">
                                        <li class="col-lg-6 col-md-6 col-sm-6 col-12" *ngFor="let category of selectedIndustry?.categories">
                                            <div data-bs-toggle="tab">{{category?.title}}</div>
                                            <!--<p class="p-div">{{category?.description}}</p>--></li>   
                                    
                                </ul>
                            </div>
                        </div>
                        <h4 class="h3div">Choose From Our Solutions</h4>
                        <div class="new-release-tabsection">
                            <div class="scrool-delevry">
                                <ul class="nav nav-nav nav-tabs">
                                    <li class="nav-item" *ngFor="let solution of selectedIndustry?.solutions">
                                        <button type="button" class="nav-link"
                                            [class.active]="selectedSolution === solution"
                                            [attr.aria-pressed]="selectedSolution === solution"
                                            (click)="selectSolution(solution)">{{solution.title}}</button>
                                    </li>
                                </ul>
                                <p class="p-div" *ngIf="selectedSolution?.description">{{selectedSolution?.description}}</p>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div *ngIf="selectedSolution === undefined" class="tab-pane show active"
                                id="SurfaceCleaningSolutions">
                                <div class="produt-mianshow">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-12"
                                            *ngFor="let solution of selectedIndustry?.solutions">
                                            <button type="button" class="contentpro contentpro--btn" (click)="selectSolution(solution)" [attr.aria-label]="'View ' + solution.title">
                                                <div class="image">
                                                    <img [src]="solution.picture" [alt]="solution.title + ' solution'" loading="lazy">
                                                </div>
                                                <div class="div-content">
                                                    <h4>{{solution.title}}</h4>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectedSolution !== undefined " class="tab-pane show active"
                                id="SurfaceCleaningSolutions">
                                <h4 class="h3div mb-3">Our Products</h4>
                                <div class="produt-mianshow">
                                    <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-12 col-L"
                                    *ngFor="let product of selectedSolution.products">
                                        <button type="button" class="contentpro-sub contentpro-sub--btn" (click)="goToProductPage(getProduct(product))" [attr.aria-label]="'View product ' + getProduct(product)?.title">
                                            <div class="image">
                                                <img [src]="getProduct(product).thumbnail ? getProduct(product).thumbnail : 'assets/image/productcate1.png'" [alt]="getProduct(product)?.title || 'Product'" loading="lazy">
                                            </div>
                                            <div class="div-content">
                                                <h4>{{getProduct(product)?.title}}</h4>
                                                <p>{{getProduct(product)?.details?.description}}.</p>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>